 (cd "$(git rev-parse --show-toplevel)" && git apply --3way <<'EOF' 
diff --git a/.gitignore b/.gitignore
index a3f6fb214f8ac3036cfb5650b49e4e8703435372..2ce47312d777f2320f26e4b30f2f99946435de75 100644
--- a/.gitignore
+++ b/.gitignore
@@ -1,11 +1,2 @@
- (cd "$(git rev-parse --show-toplevel)" && git apply --3way <<'EOF' 
-diff --git a//dev/null b/.gitignore
-index 0000000000000000000000000000000000000000..2ce47312d777f2320f26e4b30f2f99946435de75 100644
---- a//dev/null
-+++ b/.gitignore
-@@ -0,0 +1,2 @@
-+node_modules/
-+submissions.json
- 
-EOF
-)
+node_modules/
+submissions.json
 
EOF
)
